body {
    text-align: center;
    padding: 70px 50px;
    background: #0D1A29 !important;
    font-family: "Helvetica Neue", "Open Sans", helvetica, arial, sans-serif;  
  }
.a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}
  #timer {  
    font-size: 3em;
    font-weight: 100;
    color: #e6e6e6;
    text-shadow: 0 0 20px #48C8FF;
    
    div {
      display: inline-block;
      min-width: 90px;
      
      span {
        color: #B1CDF1;
        display: block;
        font-size: .35em;
        font-weight: 400;
      }
    }
  }
  